<table border="1" class="table table-bordered">
  <thead class=" table-bordered">
  <tr style="background: #3CB371; color: #ECF0F1 ">
    <th>
      Device id
    </th>
    <th>Location</th>
  </tr>
  </thead>

  <tr *ngFor="let item of data">
    <td style="background: white">{{item.id}}</td>
    <td style="background: white">{{item.location}}</td>
  </tr>
</table>
<nav aria-label="Page navigation example" class="mr-3">
  <ul class="pagination">
    <li class="page-item pr-1" [(ngModel)]="pageIndex"><button (click)="getPreviousPage()" class="btn btn-primary">previous</button></li>
    <li class="page-item" [(ngModel)]="pageIndex"><button (click)="getNextPage()" class="btn btn-primary">next</button></li>

  </ul>
</nav>
