<div class="row">

  <!-- <div class="col-md-9">
    <app-device-logs></app-device-logs>
  </div> -->

  <div class="col-md-9">
    <app-chart-by-user></app-chart-by-user>
  </div>

  <!-- <div class="col-md-6">
    <app-project-of-month></app-project-of-month>
  </div> -->
  <!-- <div class="col-md-6">
    <app-contacts></app-contacts>
  </div>


  <div class="col-md-4">
    <app-sales-graph></app-sales-graph>
  </div> -->

  <div class="col-md-8">
    <app-device-logs></app-device-logs>
  </div>


</div>